<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.WebInfoMapper" >
  <resultMap id="BaseResultMap" type="entity.WebInfo" >
    <result column="VISITTIME" property="visittime" jdbcType="VARCHAR" />
    <result column="VISITTIMES" property="visittimes" jdbcType="DECIMAL" />
  </resultMap>

<insert id="insert" parameterType="entity.WebInfo">
insert into webinfo(VISITTIME,VISITTIMES) values(#{visittime,jdbcType=VARCHAR},#{visittimes,jdbcType=DECIMAL})
</insert>

 <select id="selectAll" resultMap="BaseResultMap" >
 select VISITTIME,VISITTIMES from webinfo order  by to_date(VISITTIME,'yyyy-MM') DESC
 </select>

  <select id="selectByVisitTime" resultMap="BaseResultMap">
 select VISITTIME,VISITTIMES from webinfo where VISITTIME=#{visittime,jdbcType=VARCHAR}
  </select>

  <update id="update" parameterType="entity.WebInfo">
  update webinfo set VISITTIMES=VISITTIMES+1 where VISITTIME=#{visittime,jdbcType=VARCHAR}
  </update>


</mapper>